
:root{
    /* CSS HEX */
    --baby-pink: #FBCDCDff;
    --light-periwinkle: #CDCDE0ff;
    --light-periwinkle-2: #C3C4DAff;
    --air-superiority-blue: #7BA4C0ff;
    --midnight-green-eagle-green: #024A63ff;
}

html {
    background-color: var(--light-periwinkle-2);
    background-image:url(../photo/sunrise.gif);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Iowan Old Style";
}

/* unvisited link */
a:link {
    color: var(--midnight-green-eagle-green);
}

/* visited link */
a:visited {
    color: var(--air-superiority-blue);
}

/* mouse over link */
a:hover {
      color: var(--light-periwinkle);
}

/* selected link */
a:active {
    color: blue;
}

.wordart {
    font-family: Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wordart.blues .text {
    font-family: "Comic Sans MS", sans-serif;
    color: var(--baby-pink);
    -webkit-text-stroke: 0.01em var(--midnight-green-eagle-green);
    filter: progid:DXImageTransform.Microsoft.Glow(Color=var(--midnight-green-eagle-green),Strength=1);
    text-shadow: 0.13em -0.13em 0px var(--midnight-green-eagle-green);
    letter-spacing: -0.05em;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.center-text-box{
    position: absolute;
    top: 25%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
}

.title-container {
    font-size: 300%;
    color: var(--baby-pink);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*z-index: 2;*/
    /*width: 100%;*/
    padding: 10px;
    text-align: center;
}

.subtitle-container {
    font-size: 100%;
    width: 80%;
    color: var(--baby-pink);
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*z-index: 2;*/
    /*width: 100%;*/
    padding: 10px;
    text-align: center;
}

button {
    margin: 10px;
    font-family: inherit;
    width: 80%;
    color: var(--midnight-green-eagle-green);
}

.home {
    width: 100%;
}

/* Fill button styling */
.fill {
    border-radius: 5px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 40px 13px;
    outline: 0;
    border: 1px inset var(--light-periwinkle-2);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.fill::after {
    border-radius: 5px;
    content: "";
    background-color: var(--baby-pink);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.fill:hover::after {
    top: 0px;
    left: 0px;
}
/* End of Fill Button  */

.box {
    position: relative;
    color: var(--midnight-green-eagle-green);
    text-align: justify;
}

.box.text {
    width: 2000px;
}

.box.background {
    padding: 20px;
    border-radius: 5px;
    background-color: var(--light-periwinkle-2);
}

table.aTable {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table.aTable td, table.aTable th {
    padding: 4px 4px;
}

ul {
    list-style-type: "∿ ";
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

br {
    margin-bottom: 10px;
}

.closing {
    position: fixed;
    bottom: 5%;
    width: 100%;
    color: var(--light-periwinkle);
    text-align: center;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur265.cur), auto !important;} /* End https://www.cursors-4u.com */
